@import 'utility/functions';
@import 'utility/mixins';
@import 'settings/colors';
@import 'settings/fonts';

.header {
  display: flex;
  justify-content: space-between;
}

.hero-image {
  background-image: url("../assets/Home-Hero-Image.jpg");
  background-size: cover;
  background-position: right;
  width: rem(885);
  height: rem(963);
}

.home__header {
  margin-top: rem(210);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: rem(275);

  h1 {
    font-size: rem(38);
    text-align: center;
    line-height: rem(55);
    color: $text-color;
  }
  img {
    margin-top: rem(25);
  }

  .home__header-btns {
    margin-top: rem(65);
    display: flex;
    column-gap: rem(44);

    a {
      @include oddaj-rzeczy-border;
    }
  }
}