@import 'utility/functions';
@import 'utility/mixins';
@import 'settings/colors';
@import 'settings/fonts';

.logout {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: rem(40);
    color: $text-color;
    letter-spacing: -0.8px;
    margin-top: rem(123);
    text-align: center;
    line-height: 1.3;
  }

  img {
    margin-top: rem(32);
  }

  .home-btn {
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: rem(18);
    font-weight: 300;
    color: black;
    padding: rem(13) rem(17);
    position: relative;
    margin-top: rem(40);

    &::before {
      @include link-border;
      border: 0.75px solid $text-color;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}