@import 'functions';
@import '../settings/colors';
@import '../settings/fonts';
@import '../settings/variables';

@mixin link-border {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 0.75px solid $border-color;
  opacity: 0;
  transition: opacity 0.3s;
}

@mixin oddaj-rzeczy-border {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(310);
  height: rem(120);
  text-decoration: none;
  color: $text-color;
  border: 0.75px solid $text-color;
  font-size: rem(36);
  font-weight: lighter;
}

@mixin after-line {
  content: '';
  display: block;
  width: 70px;
  height: 2px;
  background-color: #707070;
  position: absolute;
  top: 120px;
  right: 31px;
}

@mixin form-input {
  font-size: rem(18);
  border: none;
  border-bottom: 1px solid $secondary-text-color;
  padding-bottom: rem(4);
  background-color: transparent;
}

@mixin form-input-placeholder {
  font-family: $font-base;
  font-size: rem(18);
  opacity: 0.26;
  letter-spacing: 0;
}
